@model List<EntityLayer.Entities.RoomType>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<table class="table table-striped">
    <tr>
        <td>Oda Adı</td>
        <td>Oda Fiyatı</td>
        <td>Düzelt</td>
        <td>Sil</td>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.RoomName</td>
            <td>@item.RoomPrice</td>
            <td><a href="/RoomType/@item.RoomTypeId">Düzelt</a></td>
            <td><a href="/RoomType/@item.RoomTypeId">Sil</a></td>
        </tr>
    }

} 
</table>